In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('Fossil_Gen_Cost_df.csv')
data = data[data.State != 'District Of Columbia : electric utility']
data = data.sort(['YYMM','State'])
data = data.reset_index(drop=True)
data = data.replace('--',0)
data

/Users/taiyupan/miniconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

        YYMM State  Coal     NG Petroleum
0     200801    AK  1.34   4.05      19.7
1     200801    AL  2.15   8.24     18.21
2     200801    AR  1.81   8.99     14.43
3     200801    AZ  1.62   8.01      19.9
4     200801    CA     0   7.27     19.96
5     200801    CO  1.28   6.71     19.47
6     200801    CT     0  13.63     21.77
7     200801    DE     0  10.33     18.45
8     200801    FL  2.66   9.31      9.79
9     200801    GA  2.69   9.45     20.56
10    200801    HI     0      0     15.24
11    200801    IA  1.15   8.85     20.08
12    200801    ID     0    8.6     19.79
13    200801    IL  1.66   8.76     23.21
14    200801    IN  1.72   9.02     19.89
15    200801    KS  1.35   7.76     19.12
16    200801    KY  1.89   8.91     19.28
17    200801    LA  2.27   8.25      7.59
18    200801    MA     0  11.66     17.75
19    200801    MD     0      0     16.28
20    200801    ME     0      0     18.15
21    200801    MI  1.94   9.23     15.72
22    200801    MN  1.58   8.48     20.39
23    200801    MO  1.44   8.46     19.28
24    200801    MS  3.11   8.31     16.85
25    200801    MT  1.27    9.1     18.91
26    200801    NC  2.83  11.64     19.25
27    200801    ND  1.01   8.81     19.54
28    200801    NE  0.88   9.07     20.49
29    200801    NH  3.24  12.12     19.45
...      ...   ...   ...    ...       ...
5320  201612    ME     0      0         0
5321  201612    MI  2.28   1.81      8.87
5322  201612    MN  1.86   2.74      7.74
5323  201612    MO  1.84   2.55      9.34
5324  201612    MS  2.56   2.24      9.18
5325  201612    MT  1.53   1.91         0
5326  201612    NC  3.38    3.8      9.25
5327  201612    ND  1.63   7.24      9.96
5328  201612    NE  1.29   3.44      9.33
5329  201612    NH     0    7.1      12.5
5330  201612    NJ     0      0         0
5331  201612    NM  2.31   2.33     13.33
5332  201612    NV  2.08   2.87     11.66
5333  201612    NY     0   3.59      5.74
5334  201612    OH  2.04   1.76      9.05
5335  201612    OK  1.94   2.23         0
5336  201612    OR  2.31   2.52     10.41
5337  201612    PA     0      0         0
5338  201612    RI     0      0         0
5339  201612    SC  3.46   2.73     11.45
5340  201612    SD  2.03   2.13         0
5341  201612    TN  2.44   2.32      8.88
5342  201612    TX  2.16   2.33     10.02
5343  201612    UT   1.9   2.54     10.55
5344  201612    VA  2.88   2.73      6.98
5345  201612    VT     0      0         0
5346  201612    WA     0   3.39         0
5347  201612    WI  2.16   2.54      8.91
5348  201612    WV  2.37   1.57     11.31
5349  201612    WY  1.61   6.03      13.6

[5350 rows x 5 columns]

In [3]:
data['Coal','NG','Petroleum'].replace('NM',0)

KeyError: ('Coal', 'NG', 'Petroleum')

In [ ]:
data = pd.read_csv('Fossil_Gen_Cost_df.csv')
data = data[data.State != 'District Of Columbia : electric utility']
data = data.sort(['YYMM','State'])
data = data.reset_index(drop=True)
data = data.replace('--',0)
data['Coal','NG','Petroleum'] = data['Coal','NG','Petroleum'].replace('NM',0)
data.Coal = data.Coal.astype(float)
data.NG = data.NG.astype(float)
data.Petroleum = data.Petroleum.astype(float)
data.YYMM = data.YYMM.apply(str)
data.replace(0,np.nan)

In [ ]:
year = np.arange(2008, 2017)
state = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
df_avg = pd.DataFrame(columns = ['Year', 'States', 'Coal', 'NG', 'Petro'])
for i in range(len(year)):
    for j in range(len(state)):
        df_avg.loc[i*len(state)+ j] = [str(year[i]), state[j]
                                    , np.nanmean(data[data['YYMM'].str.contains(str(year[i]))][data.States == state[j]].Coal)
                                    , np.nanmean(data[data['YYMM'].str.contains(str(year[i]))][data.States == state[j]].NG)
                                    , np.nanmean(data[data['YYMM'].str.contains(str(year[i]))][data.States == state[j]].Petroleum)]

In [ ]:
df_avg

In [ ]:
data[data.States == 'NM']

In [ ]:
len(state)