In [1]:
import pandas as pd

In [16]:
data = pd.read_csv('arranged_esource')
data = data.drop(['Unnamed: 0'],axis = 1)
data.Other = data.Geothermal + data['Other Biomass'] + data['Other Gases'] + data['Pumped Storage'] + data['Wood and Wood Derived Fuels']
data = data.drop(['Geothermal','Other Biomass','Other Gases','Pumped Storage','Wood and Wood Derived Fuels'],axis = 1)
data = data[['Year','State','Coal','Natural Gas','Petroleum','Nuclear','Hydroelectric Conventional','Solar Thermal and Photovoltaic','Wind','Other','Total']]
data = data.rename(columns = {'Petroleum':'Petro','Natural Gas':'NG','Hydroelectric Conventional':'Hydro','Solar Thermal and Photovoltaic':'Solar'})

In [17]:
data

,Year,State,Coal,NG,Petro,Nuclear,Hydro,Solar,Wind,Other,Total
0,1990,AK,1021146,6932522,994232,0,1949042,0,0,302070,11199012
1,1990,AL,107316230,2041428,276178,24103764,20733014,0,0,4833652,159304266
2,1990,AR,38415870,7157146,159958,22564106,7309306,0,0,2592810,78199196
3,1990,AZ,63831220,4667800,303734,41195378,14835152,0,0,715310,125548594
4,1990,CA,5275354,148336616,10947704,65385614,47585134,733336,5517762,47788298,331569818
5,1990,CO,59629966,2580184,54780,0,2839740,0,0,-8416,65096254
6,1990,CT,7189290,2502958,17748932,39552500,1141238,0,0,2159576,70294494
7,1990,DC,0,0,722086,0,0,0,0,0,722086
8,1990,DE,10226958,1526038,3587612,0,0,0,0,329762,15683000
9,1990,FL,120200514,37285366,51070276,43559120,349208,0,0,7634418,263005106
10,1990,GA,137091384,1660360,998960,49593768,9178234,0,0,6849772,205372480
11,1990,HI,4762,0,17471724,0,159032,0,57650,1712336,19405504
12,1990,IA,51503882,666780,108942,6023144,1750228,0,0,36036,60089012
13,1990,ID,88742,111428,1988,0,18229980,0,0,820406,19382950
14,1990,IL,109932036,2839782,877168,143774604,287852,0,0,1073500,258784942
15,1990,IN,193851108,2941674,1736076,0,882042,0,0,3423332,202834232
16,1990,KS,47440516,5005614,148052,15748974,26468,0,90,0,68369714
17,1990,KY,141000922,55592,237292,0,6320766,0,0,0,147614572
18,1990,LA,35713374,78949732,464196,28393568,1312984,0,0,5511768,152931260
19,1990,MA,22731786,12265404,30203584,10139240,2498484,0,0,1783524,79622022
20,1990,MD,47019724,3044886,7142544,2502832,4597820,0,0,2016778,66324584
21,1990,ME,906436,101572,6162200,9721454,8181072,0,0,6819294,31892028
22,1990,MI,134133740,15675912,1723450,43221000,3255836,0,0,2109536,200119474
23,1990,MN,56352560,1079678,895628,24278604,1714092,0,532,1819658,86140752
24,1990,MO,97593586,624218,180066,15996078,4384230,0,0,-72518,118705660
25,1990,MS,19053054,11839328,1477942,14844262,0,0,0,3188248,50402834
26,1990,MT,30239238,110510,57964,0,21433634,0,0,218198,52059544
27,1990,NC,99643190,406930,656050,51810638,13638854,0,0,3289060,169851534
28,1990,ND,50378006,103126,83094,0,3422296,0,0,0,53986522
29,1990,NE,25322300,616130,25962,15022596,2280186,0,0,0,43267174
...,...,...,...,...,...,...,...,...,...,...,...
1296,2015,ME,183802,5903812,1096526,0,6721054,0,2591416,6305893,23482530
1297,2015,MI,105768066,40089596,1652983,58667572,2998446,2380,9593796,6433656,226016100
1298,2015,MN,49394196,14778876,55878,24077212,1698108,5578,19557690,3612045,113959536
1299,2015,MO,130651042,9192827,197684,20880164,3190040,33796,2066152,953302,167280134
1300,2015,MS,12799210,90233886,28258,23429176,0,0,0,3013064,129515728
1301,2015,MT,32026411,1198412,992852,0,19775458,0,3929452,76672,58604802
1302,2015,NC,79844335,73089192,869175,84193522,9484008,2747158,0,5178934,256776890
1303,2015,ND,55468826,1422088,52917,0,4188336,0,13011408,85314,74313224
1304,2015,NE,48370842,861461,12230,20649456,3369960,0,6360926,141906,79766782
1305,2015,NH,1873324,12103390,351128,18968408,2540444,0,846992,3248663,40031787
1306,2015,NJ,3518192,73948913,749872,66523520,19082,1255780,43078,1994299,149217719
1307,2015,NM,40879064,18729248,125916,0,198946,1229754,4180042,58496,65402796
1308,2015,NV,5314578,57999027,31964,0,4528272,3314810,619448,6283444,78093568
1309,2015,NY,4760131,113846830,3784585,89205742,52029040,201052,7953960,3636466,277255441
1310,2015,OH,143419059,56067431,2634054,34753472,913338,112144,2406016,3487557,243786803
1311,2015,OK,49734064,68572653,21624,0,5327802,3112,28061794,527344,152271192
1312,2015,OR,4754718,32474184,12130,0,62507702,48416,13263110,2589137,115733070
1313,2015,PA,129274466,118909310,1458975,161033504,5207408,127788,6705344,4630540,429144581
1314,2015,RI,0,13171886,228546,0,6296,28702,20134,422476,13878038
1315,2015,SC,45262346,33098613,386390,106312640,5128720,8440,0,2770001,193064426
1316,2015,SD,2990158,1545506,34406,0,9700970,0,4995026,0,19266066
1317,2015,TN,61172663,18647460,270267,49920944,19162480,152294,91682,970162,150429273
1318,2015,TX,243108567,475462854,483128,78709354,1912820,801518,89666730,8039052,899652673
1319,2015,UT,63312978,16435331,39465,0,1537546,63718,1251834,1045904,83898241
1320,2015,VA,34462851,66568431,2215670,56120716,2316856,0,0,6215552,168823184
1321,2015,VT,0,2987,6112,0,2278996,96044,650730,929226,3964094
1322,2015,WA,10103830,26091855,43342,16321824,146809832,1580,14150770,4852454,218574916
1323,2015,WI,74361094,26797551,415500,20016366,4681362,2834,3178762,3141840,132720365
1324,2015,WV,136112185,2607261,280428,0,2770086,0,2752464,68114,144590538
1325,2015,WY,86182378,1444609,89797,0,1736522,0,7513416,810772,97933038