In [1]:
import pandas as pd
import numpy as np
import xlrd
import csv
import math
import os
import glob

In [2]:
data_xls = pd.read_excel('alabama.xlsx', 'Sheet1', index_col=None)
data_xls.to_csv('alabama.csv', encoding='utf-8')
data_xls.head()

,Alabama Carbon Dioxide Emissions from Fossil Fuel Consumption (1980-2014),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,million metric tons of CO2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,...,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0
3,Residential Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Coal,0.1,0.0,0.0,0.0,0.1,0.1,0.1,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df = data_xls.loc[28:31]
df.T.head()

,28,29,30,31
Alabama Carbon Dioxide Emissions from Fossil Fuel Consumption (1980-2014),NaN,NaN,NaN,NaN
Unnamed: 1,Coal,Petroleum Products,Natural Gas,Total
Unnamed: 2,43.9,0.1,0.1,44.1
Unnamed: 3,43.9,0,0.1,44.1
Unnamed: 4,35.2,0,0.1,35.3

In [4]:
year = list(data_xls.loc[2])

In [5]:
excel_files = glob.glob('*xlsx*')
for excel in excel_files:
    out = excel.split('.')[0]+'.csv'
    df = pd.read_excel(excel, 'Sheet1')
    df.to_csv(out)

In [6]:
df = pd.read_csv('alaska.csv',header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,NaN,Alaska Carbon Dioxide Emissions from Fossil Fu...,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
1,0.0,million metric tons of CO2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,NaN,NaN,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,...,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0
4,3.0,Residential Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,Coal,0.0,0.1,0.1,0.1,0.1,0.1,0.2,...,0.1,0.1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,5.0,NaN,Petroleum Products,0.5,0.4,0.5,0.5,0.6,0.6,0.5,...,0.7,1.0,0.7,0.6,0.7,0.7,0.6,0.6,0.5,0.5
7,6.0,NaN,Natural Gas,0.4,0.4,0.6,0.6,0.6,0.7,0.6,...,1.0,1.1,1.1,1.1,1.1,1.0,1.1,1.1,1.0,0.9
8,7.0,NaN,Total,0.9,0.9,1.2,1.2,1.4,1.4,1.3,...,1.8,2.1,1.8,1.8,1.7,1.7,1.7,1.8,1.6,1.5
9,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9.0,Commercial Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10.0,NaN,Coal,0.0,0.6,0.6,0.6,0.6,0.5,0.6,...,0.7,0.7,0.6,0.8,0.8,0.8,0.9,0.9,0.8,0.8
12,11.0,NaN,Petroleum Products,0.4,0.3,0.4,0.6,0.6,0.5,3.3,...,0.5,0.7,0.5,0.6,0.5,0.9,0.8,0.7,0.6,0.6
13,12.0,NaN,Natural Gas,0.9,0.9,1.3,1.3,1.3,1.1,1.1,...,0.9,1.0,1.0,0.9,0.9,0.8,1.0,1.1,1.0,1.0
14,13.0,NaN,Total,1.2,1.8,2.2,2.4,2.5,2.1,5.0,...,2.1,2.4,2.2,2.3,2.2,2.6,2.8,2.6,2.4,2.3
15,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15.0,Industrial Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,16.0,NaN,Coal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,17.0,NaN,Petroleum Products,1.4,1.2,1.9,2.3,2.7,4.7,5.1,...,3.3,3.5,3.7,3.1,3.2,3.0,3.4,3.4,3.7,3.0
19,18.0,NaN,Natural Gas,5.3,3.6,9.1,9.2,9.8,7.5,7.1,...,19.0,15.4,15.4,13.8,14.1,13.6,13.5,13.9,13.8,13.9
20,19.0,NaN,Total,6.7,4.9,11.0,11.5,12.4,12.2,12.2,...,22.3,18.9,19.0,16.9,17.3,16.6,16.8,17.3,17.5,16.9
21,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,21.0,Transportation Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,22.0,NaN,Coal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,23.0,NaN,Petroleum Products,6.4,7.2,7.3,8.3,9.8,10.6,10.3,...,18.5,18.7,17.6,15.1,13.3,14.6,13.9,13.0,12.1,11.5
25,24.0,NaN,Natural Gas,0.0,0.0,0.0,0.0,0.3,0.3,0.3,...,0.1,0.2,0.1,0.1,0.1,0.2,0.2,0.2,0.0,0.0
26,25.0,NaN,Total,6.4,7.2,7.3,8.3,10.1,10.9,10.6,...,18.7,18.8,17.7,15.2,13.4,14.8,14.1,13.2,12.2,11.5
27,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,27.0,Electric Power Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,28.0,NaN,Coal,0.4,0.5,0.5,0.5,0.5,0.4,0.4,...,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.9
30,29.0,NaN,Petroleum Products,0.4,0.3,0.4,0.4,0.5,0.5,0.4,...,0.6,0.6,0.5,0.4,0.5,0.4,0.4,0.4,0.3,0.3
31,30.0,NaN,Natural Gas,1.5,1.6,1.7,1.7,1.7,1.8,1.8,...,2.1,2.3,2.2,2.3,2.0,2.1,2.2,2.1,1.8,1.7
32,31.0,NaN,Total,2.3,2.4,2.6,2.6,2.6,2.7,2.7,...,3.2,3.5,3.3,3.3,3.2,3.0,3.2,3.1,2.6,2.9
33,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,33.0,NaN,Grand Total,17.6,17.2,24.3,25.9,29.1,29.3,31.9,...,48.0,45.8,44.0,39.4,37.8,38.7,38.5,38.0,36.2,35.1
35,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,35.0,Fuel Totals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,36.0,Coal,NaN,0.4,1.2,1.2,1.2,1.2,1.1,1.1,...,1.3,1.4,1.3,1.4,1.4,1.4,1.5,1.5,1.4,1.7
38,37.0,Petroleum Products,NaN,9.0,9.5,10.4,12.1,14.2,16.9,19.7,...,23.7,24.4,23.0,19.8,18.2,19.5,19.0,18.1,17.2,15.8
39,38.0,Natural Gas,NaN,8.2,6.5,12.6,12.7,13.7,11.4,11.1,...,23.1,19.9,19.7,18.2,18.2,17.8,18.0,18.4,17.7,17.5
40,39.0,Total,NaN,17.6,17.2,24.3,25.9,29.1,29.3,31.9,...,48.0,45.8,44.0,39.4,37.8,38.7,38.5,38.0,36.2,35.1

In [12]:
df = pd.read_csv('alaska.csv',header=None)
data = df.loc[29:32]
dataT = data.T
dataT
year = pd.DataFrame(df.loc[3, 3:])
coal = pd.DataFrame(dataT.loc[3:,29])
petro = pd.DataFrame(dataT.loc[3:,30])
ng = pd.DataFrame(dataT.loc[3:,31])
total = pd.DataFrame(dataT.loc[3:,32])
source_list = [year, coal, petro, ng, total]
result = pd.concat(source_list, axis=1)
result.columns = ['year','coal','petro','ng','total']
result.reset_index(inplace=True, drop=True)
result
#year = df.loc[2]
#new_df = pd.concat((newdata, year), axis=1)
#new_df.reset_index(inplace=True)
#new_df
#new_df.shape
#new_df.columns = new_df.iloc[2]
#new_df

      year coal petro   ng total
0   1980.0  0.4   0.4  1.5   2.3
1   1981.0  0.5   0.3  1.6   2.4
2   1982.0  0.5   0.4  1.7   2.6
3   1983.0  0.5   0.4  1.7   2.6
4   1984.0  0.5   0.5  1.7   2.6
5   1985.0  0.4   0.5  1.8   2.7
6   1986.0  0.4   0.4  1.8   2.7
7   1987.0  0.4   0.3  1.6   2.4
8   1988.0  0.4   0.3  1.6   2.4
9   1989.0  0.4   0.3  1.8   2.6
10  1990.0  0.4   0.3  1.9   2.6
11  1991.0  0.4   0.3  1.7   2.5
12  1992.0  0.4   0.3  1.5   2.3
13  1993.0  0.4   0.4  1.5   2.3
14  1994.0  0.4   0.4  1.5   2.3
15  1995.0  0.4   0.4  1.6   2.4
16  1996.0  0.3   0.5  1.7   2.5
17  1997.0  0.4   0.6  1.8   2.7
18  1998.0  0.8   0.6  1.5   2.9
19  1999.0  0.7   0.7  1.6   3.0
20  2000.0  0.8   0.5  1.9   3.2
21  2001.0  0.8   0.7  1.7   3.3
22  2002.0  0.9   0.7  1.7   3.3
23  2003.0  0.5   0.6  1.8   3.0
24  2004.0  0.6   0.6  2.0   3.2
25  2005.0  0.6   0.6  2.1   3.2
26  2006.0  0.6   0.6  2.3   3.5
27  2007.0  0.6   0.5  2.2   3.3
28  2008.0  0.6   0.4  2.3   3.3
29  2009.0  0.6   0.5  2.0   3.2
30  2010.0  0.6   0.4  2.1   3.0
31  2011.0  0.6   0.4  2.2   3.2
32  2012.0  0.6   0.4  2.1   3.1
33  2013.0  0.6   0.3  1.8   2.6
34  2014.0  0.9   0.3  1.7   2.9

In [9]:
year = df.loc[3]
year
type(year)

pandas.core.series.Series

In [9]:
path =r'C:\Users\yongquan\EASE-Project\Original_Data\Carbon_dioxide_emission'
alldatas = glob.glob(path + "/*.csv")
carbon_emission_80to14 = pd.DataFrame()
list80to14_ = []
for data_ in alldatas:
    read_in = pd.read_csv(data_, index_col=None, header=None, error_bad_lines=False)
    result_data = read_in.loc[29:32]
    dataT = result_data.T
    year = pd.DataFrame(df.loc[3, 3:])
    coal = pd.DataFrame(dataT.loc[3:,29])
    petro = pd.DataFrame(dataT.loc[3:,30])
    ng = pd.DataFrame(dataT.loc[3:,31])
    total = pd.DataFrame(dataT.loc[3:,32])
    source_list = [year, coal, petro, ng, total]
    new_result = pd.concat(source_list, axis=1)
    new_result.columns = ['Year','Coal','Petroleum','NatrualGas','Total']
    new_result.reset_index(inplace=True, drop=True)
#    carbon_emission_table = 
#    year = read_in.loc[2]
#    new_table = pd.concat((carbon_emission_table, year), axis=1)
#    new_table.columns = ['Coal', 'Petroleum Products', 'Natural Gas', 'Total', 'Year']
    list80to14_.append(new_result)
carbon_emission_80to14 = pd.concat(list80to14_)
carbon_emission_80to14

      Year  Coal Petroleum NatrualGas Total
0   1980.0  43.9       0.1        0.1  44.1
1   1981.0  43.9       0.0        0.1  44.1
2   1982.0  35.2       0.0        0.1  35.3
3   1983.0  38.7       0.1        0.0  38.8
4   1984.0  40.2       0.0        0.0  40.3
5   1985.0  48.8       0.0        0.1  48.9
6   1986.0  49.1       0.0        0.1  49.1
7   1987.0  47.7       0.0        0.1  47.8
8   1988.0  45.8       0.1        0.1  46.0
9   1989.0  50.3       0.1        0.2  50.6
10  1990.0  50.5       0.1        0.3  50.9
11  1991.0  54.5       0.1        0.3  54.8
12  1992.0  57.3       0.1        0.3  57.6
13  1993.0  63.2       0.1        0.3  63.6
14  1994.0  59.2       0.1        0.3  59.6
15  1995.0  64.6       0.1        0.5  65.1
16  1996.0  69.8       0.1        0.4  70.3
17  1997.0  67.9       0.1        0.6  68.6
18  1998.0  68.9       0.2        1.5  70.6
19  1999.0  70.3       0.1        1.4  71.8
20  2000.0  74.2       0.2        2.3  76.7
21  2001.0  69.9       0.2        3.8  73.9
22  2002.0  71.1       0.2        6.1  77.4
23  2003.0  73.3       0.2        4.7  78.2
24  2004.0  71.2       0.1        6.4  77.6
25  2005.0  75.5       0.1        5.7  81.3
26  2006.0  75.6       0.1        7.9  83.6
27  2007.0  76.2       0.1        9.6  85.9
28  2008.0  72.0       0.1        9.0  81.0
29  2009.0  54.0       0.1       12.3  66.4
..     ...   ...       ...        ...   ...
5   1985.0  34.9       0.1        0.0  34.9
6   1986.0  28.6       0.1        0.0  28.6
7   1987.0  37.0       0.0        0.0  37.0
8   1988.0  38.8       0.1        0.0  38.9
9   1989.0  36.6       0.1        0.0  36.7
10  1990.0  39.2       0.0        0.0  39.2
11  1991.0  38.2       0.1        0.0  38.3
12  1992.0  41.9       0.0        0.0  41.9
13  1993.0  40.0       0.0        0.0  40.1
14  1994.0  42.0       0.0        0.0  42.1
15  1995.0  39.5       0.1        0.0  39.6
16  1996.0  40.3       0.0        0.0  40.4
17  1997.0  40.0       0.0        0.0  40.0
18  1998.0  44.4       0.0        0.0  44.5
19  1999.0  42.7       0.0        0.0  42.7
20  2000.0  43.9       0.0        0.1  44.0
21  2001.0  43.8       0.0        0.1  44.0
22  2002.0  42.3       0.0        0.2  42.5
23  2003.0  43.4       0.0        0.1  43.6
24  2004.0  44.0       0.0        0.0  44.1
25  2005.0  43.3       0.0        0.0  43.3
26  2006.0  43.0       0.0        0.0  43.1
27  2007.0  43.4       0.0        0.1  43.5
28  2008.0  43.9       0.0        0.1  44.0
29  2009.0  41.8       0.0        0.1  41.9
30  2010.0  42.7       0.0        0.0  42.8
31  2011.0  41.0       0.0        0.0  41.1
32  2012.0  43.3       0.0        0.0  43.4
33  2013.0  46.2       0.0        0.0  46.2
34  2014.0  43.2       0.0        0.0  43.2

[1785 rows x 5 columns]

In [ ]:
#newcarbon = carbon_emission_80to14.reset_index()
#newcarbon
carbon_emission_80to14

In [15]:
statelist = ['Ak', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
statelist.sort()
print (statelist)

['AL', 'AR', 'AZ', 'Ak', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']